html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: url('../img/bg.png') no-repeat center center;
    background-size: cover;
    text-align: center;
}

.wrapper {
    padding-top: 30px;
    width: 90%;
    margin: 0 5%;
}

.title {
    color: white;
}

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}


.main section {
    background: none repeat scroll 0 0 white;
    border-radius: 4px 4px 4px 4px;
    font-size: 13px;
    margin: 0 auto;
    max-width: 391px;
    min-width: 230px;
    padding: 35px 10px 20px;
    width: 78%;
}

section img {
    margin-bottom: 20px;
}

.thatface {
    cursor: pointer;
}

.thatface:hover {
    opacity: .92;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    background: url('../img/title.png') no-repeat center center;
    text-indent: -9999px;
    background-size: contain;
    width: 100%;
    height: 70px;
    max-width: 450px;
    min-width: 250px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}